@model livres.Models.Livre;


<h2> Add new author</h2>

<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input  type="number" asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idAuthor" class="control-label"></label>
                <input asp-for="idAuthor" class="form-control" />
                <span asp-validation-for="idAuthor" class="text-danger"></span>
            </div>
            @*how to make  dropdownlist  with existing author ids?*@

            @*button:*@
            <div class="fom-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

